In [2]:
import pandas

text = """
...#......
.......#..
#.........
..........
......#...
.#........
.........#
..........
.......#..
#...#.....
"""

lines = [list(line) for line in text.split()]
df = pandas.DataFrame(lines)
df

   0  1  2  3  4  5  6  7  8  9
0  .  .  .  #  .  .  .  .  .  .
1  .  .  .  .  .  .  .  #  .  .
2  #  .  .  .  .  .  .  .  .  .
3  .  .  .  .  .  .  .  .  .  .
4  .  .  .  .  .  .  #  .  .  .
5  .  #  .  .  .  .  .  .  .  .
6  .  .  .  .  .  .  .  .  .  #
7  .  .  .  .  .  .  .  .  .  .
8  .  .  .  .  .  .  .  #  .  .
9  #  .  .  .  #  .  .  .  .  .

In [3]:
df.iloc[0]

0    .
1    .
2    .
3    #
4    .
5    .
6    .
7    .
8    .
9    .
Name: 0, dtype: object

In [5]:
df.iloc[:, 0]

0    .
1    .
2    #
3    .
4    .
5    .
6    .
7    .
8    .
9    #
Name: 0, dtype: object

In [ ]:
idx = 1
galaxies = {}
for cell in grid.flatten():
    if cell.value == '#':
        galaxies[idx] = cell
        idx += 1

galaxies

In [ ]:
idx = 0
while True:
    try:
        row = grid.get_row(idx)
    except KeyError:
        break
    if all(cell.value == '.' for cell in row):
        print(f"duplicating row {idx} {dupe_count} times")
        orig = [cell.copy(deep=True) for cell in row.cells]
        for i in range(dupe_count-1):
            copy = [cell.copy(deep=True) for cell in orig]
            grid.insert_row(idx, copy)
        idx += dupe_count + 1
    else:
        idx += 1

grid

In [ ]:
grid.get_row(3)

In [ ]:
grid.get_row(4)

In [ ]:
galaxies

In [ ]:
idx = 0
while True:
    try:
        column = grid.get_column(idx)
    except KeyError:
        break
    if all(cell.value == '.' for cell in column):
        print(f"duplicating column {idx} {dupe_count} times")
        orig = [cell.copy(deep=True) for cell in column.cells]
        for i in range(dupe_count-1):
            copy = [cell.copy(deep=True) for cell in orig]
            grid.insert_column(idx, copy)
        idx += dupe_count + 1
    else:
        idx += 1

grid

In [ ]:
galaxies

In [ ]:
def manhattan_distance(cell1: gridthings.Cell, cell2: gridthings.Cell):
    return abs(cell2.y - cell1.y) + abs(cell2.x - cell1.x)

manhattan_distance(galaxies[5], galaxies[9])

In [ ]:
import itertools

answer = 0
for (id1, cell1), (id2, cell2) in itertools.combinations(galaxies.items(), 2):
    dist = manhattan_distance(cell1, cell2)
    print(id1, id2, dist)
    answer += dist

answer