In [4]:
import pandas

text = """
#.##..##.
..#.##.#.
##......#
##......#
..#.##.#.
..##..##.
#.#.##.#.
""".strip()

df = pandas.DataFrame([list(line) for line in text.split()])
df

   0  1  2  3  4  5  6  7  8
0  #  .  #  #  .  .  #  #  .
1  .  .  #  .  #  #  .  #  .
2  #  #  .  .  .  .  .  .  #
3  #  #  .  .  .  .  .  .  #
4  .  .  #  .  #  #  .  #  .
5  .  .  #  #  .  .  #  #  .
6  #  .  #  .  #  #  .  #  .

In [5]:
def iterate_out(start: int, upper_bound: int):
    left = start
    right = start + 1

    while True:
        if left < 0:
            break
        if right >= upper_bound:
            break

        yield (left, right)
        left -= 1
        right += 1

for pair in iterate_out(3, 9):
    print(pair)

(3, 4)
(2, 5)
(1, 6)
(0, 7)

In [6]:
df.iloc[:,4]

0    .
1    #
2    .
3    .
4    #
5    .
6    #
Name: 4, dtype: object

In [7]:
df.iloc[:,5]

0    .
1    #
2    .
3    .
4    #
5    .
6    #
Name: 5, dtype: object

In [8]:
all(df.iloc[:,4] == df.iloc[:,5])

True

In [9]:
df.shape

(7, 9)

In [10]:
from typing import Tuple

def find_mirror_line(df) -> Tuple[int, int]:
    "Find the symmetry line, return (horizontal_match_line, vertical_match_line)"
    max_row = df.shape[0]
    max_col = df.shape[1]
    for i in range(max_row-1):
        for (left, right) in iterate_out(i, max_row):
            if not all(df.iloc[left] == df.iloc[right]):
                break
        else:
            return (i+1, 0)
    
    for i in range(max_col-1):
        for (left, right) in iterate_out(i, max_col):
            if not all(df.iloc[:, left] == df.iloc[:, right]):
                break
        else:
            return (0, i+1)
    
h, v = find_mirror_line(df)    
answer = h*100 + v
answer

5

In [11]:
text = """
#...##..#
#....#..#
..##..###
#####.##.
#####.##.
..##..###
#....#..#
""".strip()

df = pandas.DataFrame([list(line) for line in text.split()])

find_mirror_line(df) 

h, v = find_mirror_line(df)    
answer = h*100 + v
answer

400

In [12]:
text = open('../data/shoup-13.txt').read()

puzzles = text.split('\n\n')
len(puzzles)

100

In [13]:
puzzles[0]

'.##.##.##....\n#.######.##..\n##......###..\n...####......\n...####...###\n..#....#..#..\n.#.####.#.###\n..#....#..###\n.##.##.##....\n..######..###\n#.##..##.####\n#.#.##.#.....\n##..##..##.##\n.#..##..#....\n#.##..##.##..'

In [14]:
total = 0

for puzzle in puzzles:
    df = pandas.DataFrame([list(line) for line in puzzle.split()])
    h, v = find_mirror_line(df)    
    answer = h*100 + v
    total += answer

total

27664